venv/
.idea/
.vscode
__pycache__/
/logs
data/
test.py
test2.py
*.pyc
ffmpeg.exe
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env
/database/alembic/versions/*.py
/private_storage
/public_storage